
#login-form {
    width: 30%;
    margin: auto;
}

form input {
    border: 1px solid #f6c671;
    border-radius: 5px;
}

form > div {
    display: flex;
    flex-direction: column;
}
#login-form > button {
    border: white solid 2px;
    border-radius: 5px;

    margin-top: 20px;
    width: 100%;

    background: #0296e3;

    cursor: pointer;
}


.confirm-message {
    text-align: center;
    margin-top: 10px;
    color: #00b300;
    font-style: italic;
}


.successfull {
    border: 5px solid #00b300;
}

.unsuccessfull {
    border: 5px solid darkred;
}