
#login-form {
    width: 30%;
    margin: auto;
}

form input {
    border: 1px solid #f6c671;
    border-radius: 5px;
}

form > div {
    display: flex;
    flex-direction: column;
}
#login-form > button {
    border: white solid 2px;
    border-radius: 5px;

    margin-top: 20px;
    width: 100%;

    background: #0296e3;

    cursor: pointer;
}
