/*still nothing here...*/

h1 {
    text-align: center;
}

#register-form {
    width: 30%;
    margin: auto;
}

form input {
    border: 1px solid #f6c671;
    border-radius: 5px;
}

form > div {
    display: flex;
    flex-direction: column;
}

#register-form > button {
    border: white solid 2px;
    border-radius: 5px;

    margin-top: 20px;
    width: 100%;

    background: #0296e3;

    cursor: pointer;
}


/*shows notification if needed*/
.visit {
    display: block;
}


.this_error_message {
    width: 30%;

    margin: auto;
    text-align: center;
    color: darkred;
    border: 2px solid darkred;
    border-radius: 15px;
    font-style: italic;

    margin-top: 10px;
}

.successfull {
    border: 5px solid #00b300;
}

.unsuccessfull {
    border: 5px solid darkred;
}


#redirect-to-login {
    text-decoration: underline;
    color: #04aef3;
    margin: 50px;
}