
/*styles of user section*/
.userInfo img {
    width: 30%;
}

.userInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
}





/* styles of the whole bubble*/
.bubbleBox {
    width: 50%;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 2px solid #04aef3;
    padding: 2%;

    margin-top: 40px;
    border-radius: 50px;

    padding: 20px;

    line-height: 1;
}




/* styles of specific content in the bubble*/
.bubbleBox > p {
    padding: 20px;
}

#rating {
    font-weight: bold;
    font-size: 40px;
    color: #f6c671;
    padding-top: 10px;
}

#rating:hover {
    cursor: pointer;
}

.hid {
    display: none;
}

.active {
    display: block;
    width: 600px;
}

.ourFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}





#ratingChange {
    width: 30%;
    border: 5px solid #04aef3;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#submitRate {
    background-color: #04aef3;
    padding: 10px;
    border-radius: 10px;
}


.info_notif {
    color: lightslategrey;
    font-style: italic;
    font-size: 1.5rem;
}


.lower-flex {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;

    margin-top: 10px;
}


.delete_btn {
    width: fit-content;
    padding: 10px;


    border: 2px solid #04aef3;
    border-radius: 10px;
    background-color: #17134a;
    color: darkred;

    cursor: pointer;
}

.delete_btn:hover {
    outline: 2px solid #04aef3;
}

.see-comments-box {
    margin: 10px 0;
    border: 2px solid #04aef3;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    background: #17134a;

    text-align: center;
}

.see-comments-box:hover {
    outline: 2px solid #04aef3;
}


/* styles for modal overlay*/
.modal-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(15px);

    z-index: 9999;
}

.modal-box {
    background-color: #2b1a7a;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #04aef3;

}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#second-button {
    border: 3px solid darkred;
}